<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <h1>Aplikasi To-Do List</h1>
    <div id="app">
        <div v-if="showArticle">
            <P> title: {{title}} -author:{{ author }} -Jumlah Pembaca :{{ read_count }}</P>
        </div>
        <table>
            <td>title</td>
            <td>deskripsi</td>
            <td>Waktu</td>
        </table>
        <form action="">
            <tr>
                <td>title</td>
                <td>title</td>
                <td>title</td>
            </tr>
        </form>


        <button @click="toggleShowArticle">
          <span v-if="showArticle">Hide Article</span>
          <span v-if="!showArticle">Show Article</span>
        </button>
    </div>
    <script src="app.js ">
    </script>
</body>


</html>